@media only screen and (max-device-width: 1030px) and (device-height: 1366px) {
  main {
    display: inline-block;
  }
  main .left-section {
    width: 100%;
    padding: 3rem 3rem 0 3rem;
    margin: 0;
  }
  main .left-section .logo-img {
    width: 25%;
  }
  main .left-section .content-div {
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }
  main .left-section .content-div h1 {
    font-size: 5rem;
  }
  main .left-section .content-div p {
    font-size: 2rem;
    margin-top: 20px;
  }
  main .left-section .hero-mobile-div {
    display: block;
    text-align: center;
  }
  main .left-section .hero-mobile-div .hero-mobile-img {
    width: 70%;
    height: auto;
    margin: 30px auto;
  }
  .right-section {
    display: none;
  }
  .right-section * {
    display: none;
  }
}
@media only screen and (max-device-width: 1000px) and (max-device-height: 1333px) {
  main {
    display: inline-block;
  }
  main .left-section {
    width: 100%;
    padding: 3rem 3rem 0 3rem;
    margin: 0;
  }
  main .left-section .logo-img {
    width: 25%;
  }
  main .left-section .content-div {
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }
  main .left-section .content-div h1 {
    font-size: 4rem;
  }
  main .left-section .content-div p {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  main .left-section .content-div .email-div {
    max-width: 60%;
    margin: 20px auto 0 auto;
  }
  main .left-section .content-div .email-div input {
    font-size: 20px;
  }
  main .left-section .content-div .email-div .arrow-div {
    padding: 20px 50px;
    border-radius: 40px;
    left: -100px;
  }
  main .left-section .hero-mobile-div {
    display: block;
    text-align: center;
  }
  main .left-section .hero-mobile-div .hero-mobile-img {
    width: 70%;
    height: auto;
    margin: 30px auto;
  }
  .right-section {
    display: none;
  }
  .right-section * {
    display: none;
  }
}
@media only screen and (max-device-width: 770px) {
  main {
    display: inline-block;
  }
  main .left-section {
    max-width: 80%;
    padding: 3rem 3rem 0 3rem;
    margin: 0 auto 0 auto;
  }
  main .left-section .content-div {
    width: 90%;
    text-align: center;
  }
  main .left-section .content-div .email-div {
    min-width: 100%;
    margin: 20px auto 0 auto;
  }
  main .left-section .content-div .email-div input {
    margin: 0 auto;
    width: 90%;
    font-size: 22px;
  }
  main .left-section .content-div .email-div .arrow-div {
    padding: 21px 50px;
    left: -130px;
  }
  main .left-section .content-div .email-div #error-svg {
    right: 140px;
  }
  main .left-section .content-div .email-div .fa-circle-check {
    right: 140px;
  }
  main .left-section .content-div .email-div p {
    text-align: center;
  }
  main .left-section .content-div .logo-img {
    width: 25%;
  }
  main .left-section .hero-mobile-div {
    display: block;
  }
  main .left-section .hero-mobile-div .hero-mobile-img {
    width: 100%;
    height: auto;
    margin: 30px 0;
  }
  .right-section {
    display: none;
  }
  .right-section * {
    display: none;
  }
}
@media only screen and (max-device-width: 570px) {
  main {
    display: inline-block;
  }
  main .left-section {
    min-width: 100%;
    padding: 0;
    margin: 0;
  }
  main .left-section .logo-img {
    margin: 20px 0 20px 20px;
    width: 25%;
  }
  main .left-section .email-div {
    margin-bottom: 0;
  }
  main .left-section .content-div .logo-img {
    width: 25%;
  }
  main .left-section .content-div h1 {
    font-size: 4rem;
  }
  main .left-section .content-div p {
    font-size: 13px;
  }
  main .left-section .attribution {
    font-size: 10px;
  }
  main .left-section .hero-mobile-div {
    display: block;
  }
  main .left-section .hero-mobile-div .hero-mobile-img {
    width: 100%;
    height: auto;
    margin: 30px 0;
  }
}
@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */
}
@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */
}
@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
}
@media only screen and (min-device-width: 2000px) {
  /* For landscape layouts only */
}/*# sourceMappingURL=responsive.css.map */