@media only screen and (max-width:1145px){
    main{
        .left-section{
            width: fit-content;
            padding: 3rem 3rem 0 3rem;
            margin: 0;
        }
        .right-section{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .right-img-div{
                height: fit-content;
            }
            img{
                height: 500px;
            }
        }
    }
    
}

@media only screen and (max-width:769px){
    main{
        display: inline-block;
        .left-section{
            width: 100%;
            padding: 3rem 3rem 0 3rem;
            margin: 0;
            .email-div{
                
                input{
                    margin: 0 auto;
                    width: 90%;
                    font-size: 22px;
                }
                .arrow-div{
                    padding: 21px 50px;
                    left: -130px;
                }
                #error-svg{
                    right: 140px;
                }
                .fa-circle-check{
                    right: 140px;
                }
                p{
                    text-align: center;
                }
            }
            .logo-img{
                width: 25%;
            }
            .content-div{
                text-align: center;
            }
            .hero-mobile-div{
                display: block;

                .hero-mobile-img{
                    width: 100%;
                    height: auto;
                    margin: 30px 0;
                }
            }
        }
    }
    .right-section{
        display: none;
        *{
            display: none;
        }
    }
    
}
@media only screen and (min-width:700px) and (max-width:820px) {
    main{
        display: inline-block;
        .left-section{
            width: 100%;
            padding: 3rem 3rem 0 3rem;
            margin: 0;
            .logo-img{
                width: 25%;
            }
            .content-div{
                text-align: center;
                width: 60%;
                margin: 0 auto;
            }
            .hero-mobile-div{
                display: block;
                text-align: center;
                .hero-mobile-img{
                    width: 70%;
                    height: auto;
                    margin: 30px auto;
                }
            }
        }
    }
    .right-section{
        display: none;
        *{
            display: none;
        }
    }
    
}